name: CI
on: 
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  build:
    runs-on: self-hosted
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21.4'

    - name: Kill application if running
      run: |
        if pgrep teste-simple-go-server > /dev/null; then
          sudo killall teste-simple-go-server
        else
          echo "No running process found for teste-simple-go-server"
        fi

    - name: Install dependencies
      run: go mod tidy

    - name: Build the executable
      run: go build -o teste-simple-go-server

    - name: Package the executable
      run: |
        sudo mkdir -p /opt/teste-simple-go-server
        sudo cp teste-simple-go-server /opt/teste-simple-go-server/

  deploy:
    runs-on: self-hosted
    needs: build
    steps:
    - name: Create and start systemd service
      run: |
        echo "[Unit]
        Description=Simple Go Server
        After=network.target

        [Service]
        ExecStart=/opt/teste-simple-go-server/teste-simple-go-server
        User=maicon

        [Install]
        WantedBy=multi-user.target" | sudo tee /etc/systemd/system/teste-simple-go-server.service

        sudo systemctl daemon-reload
        sudo systemctl enable teste-simple-go-server
        sudo systemctl start teste-simple-go-server

  check:
    runs-on: self-hosted
    needs: deploy
    steps:
    - name: Check if the application is running
      run: |
        if nc -zv localhost 8080; then
          echo "Application is running and responding on port 8080."
        else
          echo "Application is not responding on port 8080." && exit 1
        fi





