name: CI
on: 
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  # test:
  #   #runs-on: ubuntu-latest
  #   runs-on: self-hosted
  #   needs: build
  #   steps:
  #   - uses: actions/checkout@v4
  #   - name: Set up GO
  #     uses: actions/setup-go@v4
  #     with:
  #       go-version: '1.21.4'
  #   #- run: go mod init server-go
  #   - run: go mod tidy
  #   - run: go build -o teste-simple-go-server

  # build:
  #   #runs-on: ubuntu-latest
  #   runs-on: self-hosted
  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Set up GO
  #     uses: actions/setup-go@v4
  #     with:
  #       go-version: '1.21.4'
  #   #- run: go mod init server-go
  #   - name: Install dependencies
  #     run: go mod tidy

  #   - name: Build the executable
  #     run: go build -o teste-simple-go-server

  #   - name: Package the executable
  #     run: |
  #       mkdir -p dist
  #       cp teste-simple-go-server dist/

  #   - name: Deploy and Run in tmux
  #     run: |
  #       tmux new-session -d -s my_server "./dist/teste-simple-go-server"

  build:
    runs-on: self-hosted
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21.4'

    - name: Install dependencies
      run: go mod tidy

    - name: Build the executable
      run: go build -o teste-simple-go-server

    - name: Package the executable
      run: |
        mkdir -p /opt/teste-simple-go-server
        cp teste-simple-go-server /opt/teste-simple-go-server/

    - name: Create and start systemd service
      run: |
        echo "[Unit]
        Description=Simple Go Server
        After=network.target

        [Service]
        ExecStart=/opt/teste-simple-go-server/teste-simple-go-server
        Restart=always
        User=runner

        [Install]
        WantedBy=multi-user.target" | sudo tee /etc/systemd/system/teste-simple-go-server.service

        sudo systemctl daemon-reload
        sudo systemctl enable teste-simple-go-server
        sudo systemctl start teste-simple-go-server





